.selection {
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: #666;
    border-radius: 4px;
    user-select: none;
}

.custom-icon {
    font-size: 1.2em;
    margin-top: 2px;
}

.select-button {
    justify-content: center;
    padding: 5px;
}

.normal {
    justify-content: space-between;
}

.selection:hover {
    cursor: pointer;
    filter: brightness(.9);
    box-shadow:inset 0 0 0 99999px rgba(255,255,255,0.8);
}

.select-box {
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #f0f0f0;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px #ccc;
    display: flex;
    z-index: 20;
    left: 50%;
    transform: translate(-50%,0);
    transition: visibility .2s, top .2s, opacity .2s;
}

.fade-select-box {
    visibility: visible;
    opacity: 1;
    top: 120%;
}