#canvas-container {
    width: calc(100% - 200px);
    position: relative;
    display: flex;
    background-color: #e4e4e4;
    min-height: 100%;
    transition: all .4s;
    top: 0;
    left: 200px;
    overflow: paged-y;
}

#canvas {
    width: 960px;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    overflow: hidden;
}